@charset "UTF-8";

:root {
	/* Header */
	--hd: 9.5rem;
}

body {
	overflow-y: overlay;
	padding-top: var(--hd);
}

.footer .container,
.footer .container .d-flex {
	height: 100%;
}

/*Form search*/
@media screen and (min-width: 992px) {
	form[role=search].w-lg-50 {
		width: 50%;
	}
}

/* Login */
.split {
	border-bottom: 1px solid #afafaf;
	position: relative;
	height: 16px;
	margin-bottom: 1rem;
	justify-content: center;
	display: flex;
}

.split span {
	position: absolute;
	background: #fff;
	padding: 0 10px;
	margin-top: 0.2rem;
	color: #afafaf;
	font-size: 14px;
	font-weight: bold;
}

/*Navigation*/
.nav-scroller {
	position: relative;
	z-index: 2;
	overflow-y: hidden;
}

nav.sticky {
	position: fixed;
	top: 5.5rem;
	width: 100%;
	z-index: 3;
}

/*Category card*/
.list-group-flush,
.product {
	max-width: 760px;
}

img.img--thumbnail {
	max-height: 150px;
}

/*Product*/
.fs-7 {
	font-size: 0.75rem;
}

/*Icons*/
.feather.feather-alert-triangle {
	color: RGBA(255, 193, 7);
}

.feather.feather-battery {
	transform: rotate(270deg);
}