@charset "UTF-8";
:root {
  --pink-color: #ea81cf;
  --pink-subtitle-bg: #CF4DCE;
  --gray-bg: #484065;
  --purple-bg: #765ec9;
  --orange-bg: #FF8B13;
  --gray-color: #ECECEC;
}

body {
  overflow-y: overlay;
}

.footer .container,
.footer .container .d-flex {
  height: 100%;
}

/*Form search*/
@media screen and (min-width: 992px) {
  form[role=search].w-lg-50 {
    width: 50%;
  }

  .aside {
    max-width: 240px;
    padding-top: 12rem;
  }
}

/* Login */
.split {
  border-bottom: 1px solid #afafaf;
  position: relative;
  height: 16px;
  margin-bottom: 1rem;
  justify-content: center;
  display: flex;
}

.split span {
  position: absolute;
  background: #fff;
  padding: 0 10px;
  margin-top: 0.2rem;
  color: #afafaf;
  font-size: 14px;
  font-weight: bold;
}

/*Navigation*/
.nav-scroller {
  position: relative;
  z-index: 2;
  overflow-y: hidden;
}

.text-pink {
  color: var(--pink-color);
}

.text-gray {
  color: var(--gray-color)
}

.text-gray:hover {
  color: white;
}

.bg-gray {
  background: var(--gray-bg);
}

.bg-gray:hover {
  background: var(--purple-bg);
}

.bg-orange {
  background: var(--orange-bg)
}

a.nav-link.text-light:hover {
  color: white !important;
}

/*Home product card */
.card-img-top {
  height: 170px
}

/*Category card*/
.list-group-flush,
.product {
  max-width: 600px;
}

img.img--thumbnail {
  max-height: 150px;
}

/*Product*/
.fs-7 {
  font-size: 0.75rem;
}

.aside ul {
  list-style-type: none;
  padding: 0;
}

.aside ul li {
  margin-top: 0.5rem;
}

.aside a {
  text-decoration: none;
}

.aside .aside-header {
  background: var(--bs-primary-bg-subtle);
  padding: 4px 8px;
  font-style: italic;
}

/*Icons*/
.feather.feather-alert-triangle {
  color: RGBA(255, 193, 7);
}

.feather.feather-battery {
  transform: rotate(270deg);
}