<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/header::common_header('Change password', ~{})}">
    <title>Change password</title>
</head>
<body>
<th:block th:replace="~{components/menu::common_menu}"/>
<div class="container">
    <div class="d-grid gap-2 col-md-6 col-lg-3 mx-auto">
        <div th:if="${success}">
            <p th:text="${success}" class="text-bg-success"></p>
            <a th:href="@{/user}" role="button" class="btn btn-secondary">Back</a>
        </div>
        <th:block th:unless="${success}">
            <h2>Change password</h2>
            <p>Please fill out this to change your password</p>
            <form th:action="@{/user/changepassword}" method="post" th:object="${passwordChangeDTO}">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" name="currentPassword"
                           placeholder="Current password" required> <label for="floatingPassword">Current
                    password</label>
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('currentPassword')}"
                          th:errorclass="d-inline-block" th:errors="*{currentPassword}"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingInput" th:field="*{newPassword}"
                           placeholder="New password"> <label for="floatingInput">New password</label>
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('newPassword')}"
                          th:errorclass="d-inline-block" th:errors="*{newPassword}"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingInput1" th:field="*{confirmNewPassword}"
                           placeholder="Confirm new password"> <label for="floatingInput1">Confirm new password</label>
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('confirmNewPassword')}"
                          th:errorclass="d-inline-block" th:errors="*{confirmNewPassword}"></span>
                </div>
                <a role="button" th:href="@{/user}" class="btn btn-secondary">Back</a>
                <input type="submit" value="Change" class="btn btn-primary"/>
            </form>
        </th:block>
    </div>
</div>

<th:block th:replace="~{components/footer::common_footer}"/>
</body>
</html>