<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/header::common_header('Reset password', ~{})}">
    <title>Login</title>
</head>
<body>
<th:block th:replace="~{components/menu::common_menu}"/>
<div class="container">
    <div class="d-grid gap-2 col-md-6 col-lg-3 mx-auto">
        <h2>Password reset</h2>
        <p th:if="${checkMailForResetPassword!=null}" th:text="${checkMailForResetPassword}"></p>
        <th:block th:unless="${checkMailForResetPassword!=null}">
            <p>Please fill out this to reset password</p>
            <form th:action="@{/forgotpassword}" method="post">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" name="email" th:value="${email}"
                           placeholder="name@example.com"> <label for="floatingInput">Email
                    address</label>
                    <span class="invalid-feedback" th:if="${resetPassword!=null}" th:errorclass="d-inline-block"
                          th:text="${resetPassword}"></span>
                </div>
                <a type="button" th:href="@{/login}" class="btn btn-secondary">Back</a>
                <input type="submit" value="Reset" class="btn btn-primary"/>
            </form>
        </th:block>
    </div>
</div>

<th:block th:replace="~{components/footer::common_footer}"/>
</body>
</html>