<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/header::common_header('Reset password', ~{})}">
    <title>Login</title>
</head>
<body>
<th:block th:replace="~{components/menu::common_menu}"/>
<div class="container">
    <div class="d-grid gap-2 col-md-6 col-lg-3 mx-auto">
        <h2>New password</h2>
        <p th:if="${completeResetPassword!=null}" th:text="${completeResetPassword}"></p>
        <th:block th:unless="${completeResetPassword!=null}">
            <p>Please fill out this with new password</p>
            <form th:action="@{/account/reset/finish}" method="post" th:object="${keyAndPasswordVM}">
                <input type="hidden" th:field="*{key}">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingInput" th:field="*{newPassword}"
                           placeholder="New password"> <label for="floatingInput">New password</label>
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('newPassword')}"
                          th:errorclass="d-inline-block" th:errors="*{newPassword}"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingInput1" th:field="*{confirmNewPassword}"
                           placeholder="Confirm password"> <label for="floatingInput1">Confirm password</label>
                    <span class="invalid-feedback" th:if="${#fields.hasErrors('confirmNewPassword')}"
                          th:errorclass="d-inline-block" th:errors="*{confirmNewPassword}"></span>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </form>
        </th:block>
    </div>
</div>

<th:block th:replace="~{components/footer::common_footer}"/>
</body>
</html>