<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/header :: common_header(${title}, ~{})}">
  <title>Search result</title>
</head>
<body>
<th:block th:replace="~{components/menu::common_menu}"/>
<section>
  <div class="container">
    <th:block th:unless="${content}">
      <div th:if="${keyword!=null && !keyword.isBlank()}"
           class="text-center text-bg-danger p-3">
        <p>Oops, Found 0 result for keyword '[[${keyword}]]'</p>
        Try another keyword!
      </div>
    </th:block>
    <section th:if="${content}">
      <p class="fw-bold product">Found [[${totalProducts}]] products for keyword
        '[[${keyword}]]'</p>
      <ul class="list-group list-group-flush mx-auto">
        <li class="list-group-item" th:each="product: ${content}">
          <h2 class="fs-5 fw-normal text-primary" th:text="${product.title}">Product title</h2>
          <div class="row">
            <div class="col-md-3">
              <img th:src="@{${product.imageThumbnail}}"
                   class="img-fluid img--thumbnail rounded"
                   th:alt="${product.title}">
            </div>
            <div class="col-md-9">
              <div>
                <p class="mb-1" th:text="${product.shortDetail}">Short detail for product</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="d-flex align-items-center">
                    <i data-feather="calendar" width="16" height="16" class="me-1"></i>
                    <span th:text="${#dates.format(product.createdDate, 'dd-MM-yyyy')}"
                          class="text-danger">01-01-2023
                                        </span>
                  </small>
                  <small th:text="${product.category.title}" class="text-primary">Category</small>
                  <a th:href="@{'/product/'+${product.id}}"
                     class="btn btn-outline-danger stretched-link py-0">Download</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <th:block th:replace="~{components/pagination::common_pagination('/search')}"/>
        </li>
      </ul>
    </section>
  </div>
</section>
<th:block th:replace="~{components/footer::common_footer}"/>
</body>
</html>